{% extends "partials/base.html" %}
{% block title %}Resume{% endblock %}

{% block content %}

  <div class="ui cover" style="height: 500px;"></div>
  <div class="container ui content-container">

    {% include 'modular/_profile.html' %}
    {% include 'modular/_portfolio.html' %}

    <div class="ui stackable grid container resume">

        <!-- left Column -->
        <div class="sixteen wide tablet eleven wide computer column">
          {% include 'modular/_education.html' %}
          {% include 'modular/_experience.html' %}
        </div>

        <!-- Right Column -->
        <div class="sixteen wide tablet five wide computer column">
          {% include 'modular/_skills.html' %}
          {% include 'modular/_volunteer.html' %}
        </div>

        <!-- Under two columns - Full Width -->
        <div class="sixteen wide tablet sixteen wide computer column">
          {% include 'modular/_certificates.html' %}
        </div>
    </div>
  </div>

{% endblock %}
