<!-- Profile Section -->
<div class="ui stackable grid container segment profile">
  <div class="four wide tablet four wide computer column">

    <!-- Profile Image -->
    <img class="ui medium bordered rounded image" src="../static/img/profile_logo.jpg" height="280" width="280" />

    <!-- Social Links -->
    <div class="container social">
      <ul>
        <a href="https://github.com/TJohnson93" alt="GitHub Profile" target="_blank">
          <li class="hover" data-content="View GitHub Profile" data-position="top center"><i class="github icon"></i></li>
        </a>
        <a href="https://au.linkedin.com/in/toddajohnson93" alt="LinkedIn Profile" target="_blank">
          <li class="hover" data-content="View LinkedIn Profile" data-position="top center"><i class="linkedin icon"></i></li>
        </a>
        <a href="https://twitter.com/ToddJ93" alt="Twitter Profile" target="_blank">
          <li class="hover" data-content="View Twitter Profile" data-position="top center"><i class="twitter icon"></i></li>
        </a>
        <a href="mailto:ToddAJohnson93@gmail.com" alt="Email Me" target="_blank">
          <li class="hover" data-content="Contact via Email" data-position="top center"><i class="mail outline icon"></i></li>
        </a>
        <a href="tel:0400395394" alt="Call Me" target="_blank">
          <li class="hover" data-content="Contact via Phone" data-position="top center"><i class="phone outline icon"></i></li>
        </a>
      </ul>
    </div>

    <!-- Location Information -->
    <div class="container location">
      Townsville, Queensland <br />
      <i class="ui flag"></i> Australia <br /><br />
      <a href="http://toddjohnson.com.au/humans.txt" target="_blank">
        <img src="../static/img/humanstxt.png" alt="Humans.txt">
      </a>
    </div>

  </div>

  <div class="eight wide tablet eight wide computer column about">
    <div class="about_name">Todd Johnson</div>
    <div class="about_title">{{ experiences[0].position }}</div>
    <div class="about_msg">
      <p> G'day, </p><br>
      <p>	My name is Todd Johnson. I am a creative and hardworking,
        'out of the box' thinker who doesn't fit the typical mould
        of the "IT guy." I have a passion for innovating through
        smart coding and live for playing my guitar and getting
        out on the footy field. Nothing is better than a great
        challenge that requires a problem to be solved. And if
        I don't know the solution, I won't rest until I find it. </p>
      <p>	So, hire me for your next project, because I can guarantee
        you won't be disappointed with the results." </p>
    </div>
  </div>

  <div class="four wide tablet four wide computer column" align="center">

    <!-- Email link -->
    <a href="mailto:toddajohnson93@gmail.com">
      <div style="width:80%;margin-top:20px;" id="hire_me" class="ui primary button"><i class="user icon"></i> Hire Me</div>
    </a>

    <!-- Download Resume Button -->
    <a href="#">
      <div style="width:80%;" id="download_resume" class="ui green button">
        <i class="download icon"></i> Download Resume
      </div>
    </a>

    <!-- Facebook Messenger Code -->
    <a href="http://m.me/BeboTheBot">
      <div style="max-width:80%;padding-top:60px;" id="bebot_code">
        <img style="max-width: 100%;" src="../static/img/messenger_code.png" alt="BeBot Facebook Messenger Code"/>
      </div>
    </a>
  </div>
</div>
